*.sat
*.o
*~
a.out
*.ncu-rep
*.nsys-rep
*.sqlite
nvhpc
gcc
clang
*-cse
*-nosat
*-nobulk
*-sat
*.log
*.xmod
*.mod
*.xml
353.clvrleaf/src/clover.in
353.clvrleaf/src/clover.in.tmp
353.clvrleaf/src/clover.out
553.pclvrleaf/src/clover.in
553.pclvrleaf/src/clover.in.tmp
553.pclvrleaf/src/clover.out
